@model ReservationListViewModel

@{
    ViewData["Title"] = "Reservations Management";
}

<link href="~/css/admin-style/service-reservation-management-style.css" rel="stylesheet" />

<nav class="navbar navbar-light">
    <div class="container-fluid">
        <span class="navbar-brand">Reservation Management</span>
    </div>
</nav>

<div class="service-reservation-container" id="reservation">
    <div class="container">
        <div class="table-wrapper">
            <div class="table-header">
                <h2>Danh Sách đặt lịch</h2>
                <div class="filter-container">
                    <label>Lọc theo tình trạng: </label>
                    <select id="statusFilter" onchange="filterByStatus()">
                        <option value="all">Tất cả</option>
                        <option value="chua_ghe">Chưa ghé</option>
                        <option value="da_ghe">Đã ghé</option>
                        <option value="da_huy">Đã hủy</option>
                    </select>
                </div>
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Họ và Tên</th>
                            <th>Số Điện Thoại</th>
                            <th>Ngày Tạo</th>
                            <th>Ngày Đặt</th>
                            <th>Tình Trạng</th>
                            <th>Hành Động</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        @{
                            foreach (var r in Model.Reservations)
                            {
                                <tr data-reservation-id="@r.ID">
                                    <td>@r.ID</td>
                                    <td>@r.FullName</td>
                                    <td>@r.PhoneNumber</td>
                                    <td>@r.CreatedDate.ToLocalTime().ToString("dd/MM/yyyy")</td>
                                    <td>@r.ReservationDate.ToLocalTime()</td>
                                    <td>
                                        <span class="status-text" data-status="@r.ReservationStatus">@r.ReservationStatus</span>
                                    </td>
                                    <td class="button-cell">
                                        <div class="button-group">
                                            <button class="edit-btn" id="updateReservationBtn">
                                                <i class="fas fa-edit"></i> Chỉnh Sửa
                                            </button>
                                            <button class="delete-btn" onclick="deleteService(this)">
                                                <i class="fas fa-trash"></i> Xóa
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal-overlay" id="reservationFormContainer" style="display: none;">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>

</div>
